{% extends "base.html" %}

{% block content %}
<h2 class="page-title">Benvenuta in Cucinati Ma Non Fritti 95</h2>

<p class="page-description">
    Progetto universitario dedicato alla cucina italiana regionale.
    Esplora ricette, ingredienti, regioni, libri e pagine collegate.
</p>

<div class="home-buttons">
    <a class="btn-home" href="{% url 'recipe_list' %}">🍝 Ricette</a>
    <a class="btn-home" href="{% url 'ingredient_list' %}">🥕 Ingredienti</a>
    <a class="btn-home" href="{% url 'region_list' %}">🗺️ Regioni</a>
    <a class="btn-home" href="{% url 'book_list' %}">📚 Libri</a>
</div>
{% endblock %}
