/*****************************************/
/************** INGREDIENTI **************/
/*****************************************/

/* Titoli alfabetici */

.lettera-titolo {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;

    border-bottom: 3px solid var(--colore-accent-blu);

    color: var(--colore-header-bg);
}

/* Contenitore elenco */

.ingredienti-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Informazioni dell'ingrediente */

.ingrediente-info {
    margin: .4rem 0;

    font-size: .95rem;

    color: #666;
}

/* Conteggio ricette */

.ingrediente-conteggio {
    margin: 1rem 0;

    font-size: .95rem;
}