.check-card {
    display: block;
    cursor: pointer;
    margin: 15px 0;
    user-select: none;
}

.check-card input {
    display: none;
}

.check-ui {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    min-height: 50px;
    padding: 12px 14px;
    border-radius: 12px;

    background: var(--off-white);
    border: 1px solid var(--grey-light);

    transition: .2s ease;
}

.check-card:hover .check-ui {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px var(--grey-shadow);
}

.check-box {
    width: 24px;
    height: 24px;
    min-width: 24px;
    border-radius: 6px;

    border: 2px solid var(--sky-blue);
    background: white;

    position: relative;
    flex-shrink: 0;
}

.check-box::after {
    content: "";
    position: absolute;

    width: 7px;
    height: 12px;

    border: solid white;
    border-width: 0 2px 2px 0;

    top: 3px;
    left: 7px;

    transform: rotate(45deg);
    opacity: 0;
}

.check-card input:checked + .check-ui .check-box {
    background: var(--sky-blue);
    border-color: var(--sky-blue-dark);
}

.check-card input:checked + .check-ui .check-box::after {
    opacity: 1;
}

.check-text strong {
    display: block;
    font-size: 0.95rem;
    color: var(--brown);
}

.check-text span {
    font-size: 0.85rem;
    color: #666;
}

.alphabet-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    width: 100%;
}

.lettera-item {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 36px;
    height: 34px;

    padding: 4px 8px;

    border: 1px solid var(--grey-light);
    border-radius: 8px;
    background: var(--off-white);

    cursor: pointer;
    user-select: none;
    transition: 0.2s ease;
}

.lettera-item span {
    font-weight: 600;
    font-size: 0.85rem;
    color: var(--brown);
}

.lettera-item input {
    display: none;
}

.lettera-item input:checked + span {
    background: var(--sky-blue);
    color: white;
    border-radius: 6px;
    padding: 4px 8px;
}

.lettera-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 8px var(--grey-shadow);
}
