{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cucinati Ma Non Fritti 95{% endblock %}</title>

    
    <link rel="stylesheet" href="{% static 'cucina/librerie/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cucina/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'cucina/css/compatibilita-bootstrap.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
<header class="top-header">
    <h1>Cucinati Ma Non Fritti</h1>
</header>

<div class="layout flex-grow-1">

    
    <aside class="sidebar">
        <nav class="nav-vertical">
            <ul>
                <li><a class="{% if active_section == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a></li>
                <li><a class="{% if active_section == 'libri' %}active{% endif %}" href="{% url 'book_list' %}">Libri</a></li>
                <li><a class="{% if active_section == 'ricette' %}active{% endif %}" href="{% url 'recipe_list' %}">Ricette</a></li>
                <li><a class="{% if active_section == 'ingredienti' %}active{% endif %}" href="{% url 'ingredient_list' %}">Ingredienti</a></li>
                <li><a class="{% if active_section == 'regioni' %}active{% endif %}" href="{% url 'region_list' %}">Regioni</a></li>
            </ul>
        </nav>
    </aside>

    
    <main class="content">
        {% block content %}{% endblock %}
    </main>
</div>

<footer class="footer">
     <p>&copy; 2026 CucinatiMaNonFritti95</p>
     <p>Tutte le ricette sono a scopo dimostrativo.</p>
     <p>Progetto del corso di Programmazione Web - A.A. 2025/2026</p>
</footer>

<script src="{% static 'cucina/librerie/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'cucina/js/app.js' %}"></script>
</body>
</html>
